*{
    margin: 0;
    padding: 0;
}
.heading{
    display: flex;

}
body{
    background-image: url(photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg);
    text-align: center;
    background-size:cover;
}
.container{
    height: 80vmin;
    justify-items: center;

    
}
.game{
    height: 65vmin;
    width: 80vmin;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.box{
    height: 20vmin;
    width: 22vmin;
    margin: 2px;
    font-size: 15vmin; 
    border-radius: 20%;
    box-shadow:100px;
    color: chartreuse;
    background-color: black;
}
.reset{
    
    text-align: center;
    height: 20px;
    width: 20px;
    background-color: aliceblue;
}